<div class="container-fluid">
    <div class="row landing">
        <div class="col-md-6 col-sm-12"
            style=" display:flex;flex-direction: column; justify-content: center; align-items: center;">
            <h1 class="header p-5">24/7 Customer support.
            </h1>
            <div class="get_started">
                <p class="text-white">We’re always there to help regardless the number
                    of queries at hand.</p>
            </div>
        </div>
        <div class="col-md-6 mobile-hidden">
            <img src="../../../assets/images/contact.png" alt="contact_frame1" class="img-fluid">
        </div>
    </div>
    <div class="container text-center">
        <p style="margin-top: 280px;">Please note that all message will be replied within the next 12 hours</p>
        <div class="row">
            <div class="col-12">
                <input type="text" placeholder="NAME*">
            </div>

        </div>
        <div class="row">
            <div class="col-12">
                <input type="text" placeholder="EMAIL*">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <textarea placeholder="YOUR COMMENT" cols="30" rows="10"></textarea>
            </div>
        </div>
        <div class="row my-5">
            <div class="col">
                <button class="button">SEND</button>
            </div>
        </div>
    </div>
    <div class="container text-center " style="padding-top: 20px !important;">
        <p>Feel free to drop us your feedback.</p>

        <div class="row">
            <div class="col-12">
                <input type="text" placeholder="EMAIL*">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <textarea placeholder="YOUR FEEDBACK" cols="30" rows="10"></textarea>
            </div>
        </div>
        <div class="row my-5">
            <div class="col">
                <button class="button">FEEDBACK</button>
            </div>
        </div>
    </div>
</div>