<div class="container-fluid">
    <form>
        <div class="align-items-center">
            <h2>Sign Up</h2>
            <p class="mt-2">There's no charge upon registration</p>
        </div>
        <div>
            <input type="text" placeholder="Full Name">
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Password">
            <input type="password" placeholder="Confirm Password">
        </div>
        <div class="align-items-center">
            <button class="button">SIGNUP</button>
            <p class="mt-2">Already a member? <strong (click)="openLoginModel('login')"><u>Login</u></strong></p>
        </div>
    </form>
</div>