<div class="container-fluid footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-12 intro">
                <div class="row">
                    <h2 routerLink="/home" class="pointer" style="color: #FD749B;">IQuizMaster</h2>
                </div>
                <div class="row py-1 mt-2 text ">
                    <p>IQuizMaster is a Smart and User-friendly Interface Educational platform. We provide a soulful
                        online teaching and learning experience in Simple and Secured access. <span class="mbl-footer">We strive to be a reliable
                            platform for both the tutor and the learner. Our primary aim is to provide a Digitalized
                            Education on your hand with easy steps. It is a unique, creative, informative, interesting,
                            inspiring and fun-based Edutech platform.</span></p>
                </div>
            </div>

            <div class="col-md-2 col-sm-12 mt-2 pointer">
                <div class="row">
                    <h4>Social</h4>
                </div>
                <div class="row py-1 ">
                    <div class="d-flex justify-content-start">
                        <div class="px-1"><i class="fa fa-facebook-square" aria-hidden="true"></i></div>
                        <div class="px-1"><i class="fa fa-twitter-square" aria-hidden="true"></i></div>
                        <div class="px-1"><i class="fa fa-google-plus-square" aria-hidden="true"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-12 mt-2 pointer">
                <div class="row">
                    <h4>Help</h4>
                </div>
                <div class="row py-1">
                    <h6 routerLink="/terms-of-service">Terms and conditions</h6>
                </div>
                <div class="row py-1">
                    <h6 routerLink="/privacy-policy">Privacy Policy</h6>
                </div>
                <div class="row py-1">
                    <h6 routerLink="/book-a-demo">Book a Demo</h6>
                </div>

                <!-- <div class="row py-1">
                    <h6>(+91) 1234567890</h6>
                </div> -->
                <!-- <div class="row py-1">
                    <h6>IQuizMaster</h6>
                </div> -->
            </div>
            <div class="col-md-3 col-sm-12 mt-2 pointer">
                <div class="row">
                    <h4>Support & Contact</h4>
                </div>
                <!-- <div class="row py-1 mt-2">
                    <h6 routerLink="/home">Home</h6>
                </div> -->
                <!-- <div class="row py-1">
                    <h6>About Us</h6>
                </div>
                <div class="row py-1">
                    <h6>Blog</h6>
                </div>
                <div class="row py-1">
                    <h6>FAQ</h6>
                </div> -->
                <div class="row py-1">
                    <h6 routerLink="/contact-us">Contact Us</h6>
                </div>


            </div>
        </div>
    </div>
</div>