<div class="container-fluid">
    <div class="row">
        <div class="col-md-5 col-sm-12 intro">
            <div class="row">
                <h2 routerLink="/home" class="pointer" style="color: #FD749B;">IQuizMaster</h2>
            </div>
            <div class="row py-1 mt-4 text">
                <h6>IQuizmaster is all about creating and attending interactive quizzes, we believe learning is
                    incomplete
                    without being able to apply it on and testing it on quizzes is a fun way for both teachers and
                    students. We make learning fun with interesting quiz modules that reinforce knowledge and keep the
                    children hooked.</h6>
            </div>
        </div>
        <div class="col-md-2 col-sm-12 mt-2 pointer">
            <div class="row">
                <h3>IQuizMaster Links</h3>
            </div>
            <div class="row py-1 mt-2">
                <h6 routerLink="/home">Home</h6>
            </div>
            <!-- <div class="row py-1">
                <h6>About Us</h6>
            </div>
            <div class="row py-1">
                <h6>Blog</h6>
            </div>
            <div class="row py-1">
                <h6>FAQ</h6>
            </div> -->
            <div class="row py-1">
                <h6>Contact Us</h6>
            </div>

        </div>
        <div class="col-md-2 col-sm-12 mt-2 pointer">
            <div class="row">
                <h3>Contact Us</h3>
            </div>

            <!-- <div class="row py-1">
                <h6>(+91) 1234567890</h6>
            </div> -->
            <div class="row py-1">
                <h6>IQuizMaster</h6>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 mt-2 pointer">
            <div class="row">
                <h3>IQuizMaster Social</h3>
            </div>
            <div class="row py-1 mt-4">
                <div class="col"><i class="fa fa-facebook-square" aria-hidden="true"></i></div>
                <div class="col"><i class="fa fa-twitter-square" aria-hidden="true"></i></div>
                <div class="col"><i class="fa fa-google-plus-square" aria-hidden="true"></i></div>
            </div>
        </div>
    </div>
</div>