<div class="banner-sec-bg">
    <div class="container-fluid banner-part">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="10000">
    
            <div class="carousel-inner banner-sec">
                <div class="carousel-item active">
                    <div class="row landing">
                        <div class="col-md-6 col-sm-12"
                            style="display:flex;flex-direction: column; justify-content: center; align-items: center;">
                            <h1 class="header p-3"><b>Create</b>
                            </h1>
                            <div class="get_started">
                                <p class="text-white content text-center">IQuizMaster is a Smart and User-friendly Interface Educational
                                    platform. We provide a soulful online teaching and learning experience in Simple and
                                    Secured access.<span class="mbl-footer"> We strive to be a reliable platform for both the tutor and the learner.
                                        Our primary aim is to provide a Digitalized Education on your hand with easy steps. It
                                        is a unique, creative, informative, interesting, inspiring and fun-based <span class="d-inline-block">Edutech
                                        platform</span>.</span></p>
    
                                <div class="d-flex align-items-center">
                                    <button class="button_white button mr-3" (click)="open()">Get
                                        Started</button>
                                        <button class="button button_white" routerLink="/book-a-demo"> Book a Demo</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 ">
    
                            <img src="../../../assets/images/home_frame.png" alt="home_frame1" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row landing">
                        <div class="col-md-6 col-sm-12"
                            style="display:flex;flex-direction: column; justify-content: center; align-items: center; ">
                            <h1 class="header p-3"><b>Edit</b>
                            </h1>
                            <div class="get_started">
                                <p class="text-white content text-center">
                                    IQuizMaster is a Smart and User-friendly Interface Educational platform. We provide a
                                    soulful online teaching and learning experience in Simple and Secured access.<span class="mbl-footer"> We strive
                                        to be a reliable platform for both the tutor and the learner. Our primary aim is to
                                        provide a Digitalized Education on your hand with easy steps. It is a unique, creative,
                                        informative, interesting, inspiring and fun-based <span class="d-inline-block">Edutech
                                            platform</span>.</span></p>
                                    <div class="d-flex align-items-center">
                                        <button class="button_white button mr-3" (click)="open()">Get
                                            Started</button>
                                            <button class="button button_white" routerLink="/book-a-demo"> Book a Demo</button>
                                    </div>
                            </div>
                        </div>
                        <div class="col-md-6 ">
    
                            <img src="../../../assets/images/edit.png" style="padding-left: 40px;" alt="home_frame1"
                                class="img-fluid" width="660">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row landing">
                        <div class="col-md-6 col-sm-12"
                            style=" display:flex;flex-direction: column; justify-content: center; align-items: center;">
                            <h1 class="header p-3"><b>Schedule</b>
                            </h1>
                            <div class="get_started">
                                <p class="text-white content text-center">IQuizMaster is a Smart and User-friendly Interface Educational
                                    platform. We provide a soulful online teaching and learning experience in Simple and
                                    Secured access. <span class="mbl-footer">We strive to be a reliable platform for both the tutor and the learner.
                                        Our primary aim is to provide a Digitalized Education on your hand with easy steps. It
                                        is a unique, creative, informative, interesting, inspiring and fun-based <span class="d-inline-block">Edutech
                                        platform</span>.</span></p>
                                    <div class="d-flex align-items-center">
                                        <button class="button_white button mr-3" (click)="open()">Get
                                            Started</button>
                                            <button class="button button_white" routerLink="/book-a-demo"> Book a Demo</button>
                                    </div>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <img src="../../../assets/images/Saly-421.png" alt="home_frame1" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row landing">
                        <div class="col-md-6 col-sm-12"
                            style="display:flex;flex-direction: column; justify-content: center; align-items: center;">
                            <h1 class="header p-3"><b>Collaborate</b>
                            </h1>
                            <div class="get_started">
                                <p class="text-white content text-center">IQuizMaster is a Smart and User-friendly Interface Educational
                                    platform. We provide a soulful online teaching and learning experience in Simple and
                                    Secured access.<span class="mbl-footer"> We strive to be a reliable platform for both the tutor and the learner.
                                        Our primary aim is to provide a Digitalized Education on your hand with easy steps. It
                                        is a unique, creative, informative, interesting, inspiring and fun-based <span class="d-inline-block">Edutech
                                        platform</span>.</span></p>
                                    <div class="d-flex align-items-center">
                                        <button class="button_white button mr-3" (click)="open()">Get
                                            Started</button>
                                            <button class="button button_white" routerLink="/book-a-demo"> Book a Demo</button>
                                    </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src="../../../assets/images/Saly-31.png" alt="home_frame1" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="../../../assets/images/banner-bg.png" alt="home_frame1" class="banner-bg img-fluid">
</div>
<div class="container-fluid">

    <div class="container page-wrap" style="margin-top: 0;">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <img src="../../../assets/images/quiz_create.jpg" alt="quiz_create"
                    class="rounded img-fluid d-block  small_img">
            </div>
            <div class="col-sm-12 col-md-6 d-flex justify-content-center" style="flex-direction: column;">
                <div>
                    <h2>Create & Edit Quizzes</h2>
                    <hr>
                </div>
                <p>Create and edit interactive and fun quizzes with IQuizmaster in accordance with <span class="d-inline-block">your class.</span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 d-flex justify-content-center" style="flex-direction: column;">
                <div>
                    <h2>Schedule and Share</h2>
                    <hr>
                </div>
                <p>Schedule the quizzes that are created and share them with one student or an entire class at anychosen
                    time.Get <span class="d-inline-block">quizzin' anytime!</span></p>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="../../../assets/images/schedule_share.png" alt="quiz_create"
                    class="rounded img-fluid d-block  small_img">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <img src="../../../assets/images/collaborate.png" alt="quiz_create"
                    class="rounded img-fluid d-block  small_img">
            </div>
            <div class="col-sm-12 col-md-6 d-flex justify-content-center" style="flex-direction: column;">
                <div>
                    <h2>Collaborate</h2>
                    <hr>
                </div>
                <p>Iquizmaster enables the collaboration of one or more teachers at a time to create a particular quiz.
                    Put together a quiz that challenges and helps the students grow <span class="d-inline-block">with IQuizmaster.</span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 d-flex justify-content-center" style="flex-direction: column;">
                <div>
                    <h2>Audio</h2>
                    <hr>
                </div>
                <p>Give an illusion of a classroom by adding audio questions, this feature makes it more authentic and
                    easier <span class="d-inline-block">to understand.</span></p>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="../../../assets/images/audio.png" alt="quiz_create"
                    class="rounded img-fluid d-block  small_img">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <img src="../../../assets/images/questions.png" alt="quiz_create"
                    class="rounded img-fluid d-block  small_img">
            </div>
            <div class="col-sm-12 col-md-6 d-flex justify-content-center" style="flex-direction: column;">
                <div>
                    <h2>Variety of questions</h2>
                    <hr>
                </div>
                <p>Quizzes are fun when there are a variety of questions, put together an interactive quiz session with
                    fill in the blanks, match the following, MCQ's etc. Let's get <span class="d-inline-block">busy quizzing!</span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 d-flex justify-content-center" style="flex-direction: column;">
                <div>
                    <h2>Results and valuations</h2>
                    <hr>
                </div>
                <p>Instant evaluations that aid in understanding the students better and these analytics enables easy
                    assessment of the class's <span class="d-inline-block">learning progress.</span>
                </p>
            </div>
            <div class="col-sm-12 col-md-6 align-self-center">
                <img src="../../../assets/images/results_valuations.png" alt="quiz_create"
                    class="rounded img-fluid d-block  small_img">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <img src="../../../assets/images/video_sharing.png" alt="quiz_create"
                    class="rounded img-fluid d-block  small_img">
            </div>
            <div class="col-sm-12 col-md-6 d-flex justify-content-center" style="flex-direction: column;">
                <div>
                    <h2>Video sharing</h2>
                    <hr>
                </div>
                <p>Facilitates sharing of youtube videos before or after quizzes to give a better insight to <span class="d-inline-block">the
                    students.</span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 d-flex justify-content-center" style="flex-direction: column;">
                <div>
                    <h2>Unique codes for access</h2>
                    <hr>
                </div>
                <p>Each quiz is encrypted with a unique code that allows the students to access the quiz. Every quiz can
                    be accessed with these <span class="d-inline-block">codes only.</span></p>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="../../../assets/images/unique_code.png" alt="quiz_create"
                    class="rounded img-fluid d-block  small_img">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <img src="../../../assets/images/flashcard.png" alt="quiz_create"
                    class="rounded img-fluid d-block  small_img">
            </div>
            <div class="col-sm-12 col-md-6 d-flex justify-content-center" style="flex-direction: column;">
                <div>
                    <h2>Flash Card session</h2>
                    <hr>
                </div>
                <p>Make the process of learning fun with flashcard sessions, an alternate and chosen way that helps in
                    reinforcing and improving <span class="d-inline-block">knowledge retention.</span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 d-flex justify-content-center" style="flex-direction: column;">
                <div>
                    <h2>Gamification</h2>
                    <hr>
                </div>
                <p>Make your sessions fun and keep your students comingfor more with rewards. Iquizmaster allows
                    rewarding students after each session <span class="d-inline-block">with points and badges.</span></p>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="../../../assets/images/reattempt.png" alt="quiz_create"
                    class="rounded img-fluid d-block  small_img">
            </div>
        </div>
        <!-- <div class="row " style="margin-top: 45px;">
            <div class="col d-flex justify-content-center align-items-center" style="flex-direction: column;">
                <h2 class="text-center">More features</h2>
                <hr class="mt-1">
            </div>
        </div> -->
        <!-- <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div class="carousel_2" style="height: 200px; background-color: green;"></div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="card" style="height: 200px; background-color: yellow;"></div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="card" style="height: 200px; background-color: blue;"></div>
            </ng-template>
        </owl-carousel-o> -->
        <div class="my-5 text-center">
            <!-- <div class="col d-flex justify-content-center align-items-center" style="flex-direction: column;">
                <h2>Subscribe our newsletter</h2>
                <hr class="mt-1">
            </div> -->
            <button class="button d-inline-block px-5 w-auto" routerLink="/book-a-demo">Book a Demo</button>

        </div>
        <!-- <div class="row mb-5">
            <div class="col-md-10 col-sm-12 d-flex justify-content-center align-items-center">
                <input type="text" class="w-100" placeholder="EMAIL">
            </div>
            <div class="col-md-2 col-sm-12 d-flex justify-content-center align-items-center discover">
                <button class="button button_white">DISCOVER</button>
            </div>
        </div> -->
    </div>
</div>