<div class="container-fluid mt-5">
   
    <div class="container text-center">
        <h1>Book a Demo</h1>
        <div class="row">
            <div class="col-12">
                <input type="text" placeholder="FIRST NAME*">
            </div>

        </div>
        <div class="row">
            <div class="col-12">
                <input type="text" placeholder="LAST NAME*">
            </div>

        </div>
        <div class="row">
            <div class="col-12">
                <input type="text" placeholder="EMAIL*">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <input type="number" placeholder="PHONE NUMBER">
            </div>
        </div>
        <!-- <div class="row">
            <div class="col">
                <textarea placeholder="YOUR COMMENT" cols="30" rows="10"></textarea>
            </div>
        </div> -->
        <div class="row">
            <div class="col-12">
                <label>DESIGNATION :</label>
                <select name="cars" id="designation">
                    <!-- <option value="" disabled selected>DESIGNATION</option> -->
                    <option value="admin">Institution</option>
                    <option value="teacher">Teacher</option>
                    <option value="student">Student</option>
                  </select>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label>DATE :</label>
                 <input type="date">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label>START TIME:</label>
                 <input type="time">
            </div>
            <div class="col-6">
                <label>END TIME:</label>
                 <input type="time">
            </div>
        </div>
        <div class="row my-5">
            <div class="col">
                <button class="button">SUBMIT</button>
            </div>
        </div>
    </div>
    
</div>