<div class="container-fluid mt-5">

    <form [formGroup]="createScheduleForm">
        <div class="container text-center">
            <h1>Book a Demo</h1>
            <div class="row form-group">
                <div class="col-12">
                    <input type="text" [ngClass]="{'is-invalid': submitted && f.fname.errors }" formControlName="fname"
                        placeholder="FIRST NAME*">
                    <div *ngIf="submitted && f.fname.errors" class="invalid-feedback">
                        <div *ngIf="f.fname.errors.required">First Name is required</div>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-12">
                    <input type="text" [ngClass]="{'is-invalid': submitted && f.lname.errors }" formControlName="lname"
                        placeholder="LAST NAME*">
                    <div *ngIf="submitted && f.lname.errors" class="invalid-feedback">
                        <div *ngIf="f.lname.errors.required">Last Name is required</div>
                    </div>
                </div>

            </div>
            <div class="row form-group">
                <div class="col-12">
                    <input type="email" required formControlName="email" placeholder="EMAIL*"
                        [ngClass]="{'is-invalid': submitted && f.email.errors }">
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                    </div>
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.email">Please Check Email field</div>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-12">
                    <input type="number" formControlName="phone" placeholder="PHONE NUMBER*"
                        [ngClass]="{'is-invalid': submitted && f.phone.errors }">
                    <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                        <div *ngIf="f.phone.errors.required">Phone number is required</div>
                    </div>
                    <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                        <div *ngIf="f.phone.errors.pattern">Please Check phone number</div>
                    </div>
                </div>
            </div>
            <!-- <div class="row form-group">
            <div class="col">
                <textarea placeholder="YOUR COMMENT" cols="30" rows="10"></textarea>
            </div>
        </div> -->
            <div class="ins-name" id="ins-name">
                <div class="row form-group">
                    <div class="col-12">
                        <label>Institution Name(Optional) :</label>
                        <input type="text" formControlName="insName">
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-12">
                    <label>Designation :</label>
                    <select name="cars" id="designation" formControlName="designation" (change)="onSelectDesignation()"
                        [ngClass]="{'is-invalid': submitted && f.designation.errors }">
                        <option value='' disabled selected>Select designation</option>
                        <option *ngFor="let title of designData" [value]="title.name">{{title.name}}</option>
                    </select>
                    <div *ngIf="submitted && f.designation.errors" class="invalid-feedback">
                        <div *ngIf="f.designation.errors.required">Please select designation</div>
                    </div>
                </div>
            </div>
            <div class="ins-name" id="ins-name" *ngIf="isCustom">
                <div class="row">
                    <div class="col-12">
                        <label>Enter Designation :</label>
                        <input type="text" formControlName="cusDesign">
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-12">
                    <label>Preferred Date(Option-1) :</label>
                    <input type="date" formControlName="scheduled_date1">
                    <!-- <div *ngIf="submitted && f.scheduled_date1.errors" class="invalid-feedback">
                        <div *ngIf="f.scheduled_date1.errors.required">Preferred Date(Option-1) is required</div>
                    </div> -->
                </div>
            </div>
            <div class="row">
                <div class="col-6 form-group">
                    <label>Preferred Start Time(Option-1) :</label>
                    <input type="time" formControlName="starts_at1">
                    <!-- <div *ngIf="submitted && f.starts_at1.errors" class="invalid-feedback">
                        <div *ngIf="f.starts_at1.errors.required">Preferred Start Time(Option-1) is required</div>
                    </div> -->
                </div>
                <div class="col-6 form-group">
                    <label>Preferred End Time(Option-1) :</label>
                    <input type="time" formControlName="ends_at1">
                    <!-- <div *ngIf="submitted && f.ends_at1.errors" class="invalid-feedback">
                        <div *ngIf="f.ends_at1.errors.required">Preferred End Time(Option-1) is required</div>
                    </div> -->
                </div>
            </div>
            <div class="row form-group">
                <div class="col-12">
                    <label>Preferred Date(Option-2) :</label>
                    <input type="date" formControlName="scheduled_date2">
                    <!-- <div *ngIf="submitted && f.scheduled_date2.errors" class="invalid-feedback">
                        <div *ngIf="f.scheduled_date2.errors.required">Preferred Date(Option-2) is required</div>
                    </div> -->
                </div>
            </div>
            <div class="row">
                <div class="col-6 form-group">
                    <label>Preferred Start Time(Option-2) :</label>
                    <input type="time" formControlName="starts_at2">
                    <!-- <div *ngIf="submitted && f.starts_at2.errors" class="invalid-feedback">
                        <div *ngIf="f.starts_at2.errors.required">Preferred Start Time(Option-2) is required</div>
                    </div> -->
                </div>
                <div class="col-6 form-group">
                    <label>Preferred End Time(Option-2) :</label>
                    <input type="time" formControlName="ends_at2">
                    <!-- <div *ngIf="submitted && f.ends_at2.errors" class="invalid-feedback">
                        <div *ngIf="f.ends_at2.errors.required">Preferred End Time(Option-2) is required</div>
                    </div> -->
                </div>
            </div>
            <div class="row my-5">
                <div class="col">
                    <!-- [disabled]="createScheduleForm.invalid" -->
                    <button class="button" (click)="onSubmit()">SUBMIT</button>
                </div>
            </div>
        </div>
    </form>
</div>