<div class="container-fluid">
    <form>
        <div class="align-items-center">
            <h2>Welcome Back!</h2>
            <p class="mt-2">Kindly fill in your login details to proceed</p>
        </div>
        <div>
            <input type="text" placeholder="EMAIL">
            <input type="password" placeholder="PASSWORD">
            <small style="text-align: end !important;">I forgot my password?</small>
        </div>
        <div class="align-items-center">
            <button class="button">LOGIN</button>
            <p class="mt-2">Dont't have an account yet ? <strong (click)="openRegisterModel('register')">Sign
                    Up</strong></p>
        </div>
    </form>
</div>