/* @import "~bootstrap/dist/css/bootstrap.css"; */
body, html{
    overflow-x: hidden;
}
.button{
    /* width: 160px;
    height: 48px; */
    background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
    box-sizing: border-box;
    border-radius: 100px;
    color: #ffffff;
    border: none;
    outline: none;
    padding: 10px 25px;
    text-transform: uppercase;
}
.button_white{
    width: auto;
    height: auto;
    background: #ffffff;
    box-sizing: border-box;
    border-radius: 100px;
    color: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
    border: none;
    outline: none;
    padding: 10px 25px;
}