/* @import "~bootstrap/dist/css/bootstrap.css"; */
body, html{
    overflow-x: hidden;
}
.button{
    background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
    box-sizing: border-box;
    border-radius: 100px;
    color: #ffffff;
    border: none;
    outline: none;
    padding: 12px 25px;
    text-transform: uppercase;
    line-height: normal;
}
.button_white{
    background: #ffffff;
    color: black;
}

@media screen and (max-width:480px) {
    .button{
        font-size: 13px;
    }
}